* {
  font-family: "游ゴシック","arial unicode ms",sans-serif;
}

html {
  font-size: 12pt;
}

.line {
  width: 100%;
  border: 1px solid;
  margin-bottom: 40px;
}


body {
  background: #Ebba4e;
}

.lead-form {
 margin-bottom: 0px;
}

.main-title {
 margin-top: 0px;
 margin-bottom: 40px;
}

.inner {
  width: 860px;
  margin: 0 auto;
  text-align: center;
}


.flex-container {
  margin-left: 70px;
  margin-right: auto;
}

th {
  vertical-align: text-top;
  text-align: end;
}


/* フォームのデザイン */

.inner input, .inner textarea {
  width: 170%;
  border: none;
  border-radius: 7px;
  box-sizing: border-box;
  padding: 10px;
}

#type {
  width: 170%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
}

#urgent {
  border: none;
  border-radius: 5px;
  margin-bottom: 100px;
}


.inner input::placeholder, .inner textarea::placeholder {
  color:#aaa;
}
 
.inner input {
  height: 30px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  
}

.inner textarea {
  margin-bottom: 20px;
  resize: none;
}

input[type=checkbox] {
  margin: 0 0 0 -225px;
  width: 20px;
  height: 20px;
}


/* ボタンセクション */
.btn-area {
  display: flex;
  justify-content: center;
}

.sent {
  padding: 0 40px;
  background-color: lightcoral;
  border-radius: 23px;
  text-decoration: none;
  line-height: 45px;
  margin-right: 30px;
}

.clear {
 margin-top: 5px;
  padding: 8px 16px;
 
}












